<section id="banner" class="style3">
    <div class="inner">
        <span class="image">
            <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
        </span>
        <header class="major">

            <h1>{{ page.title }}</h1>

        </header>
        <div class="content">

            <p style="text-transform: uppercase;">{{ page.description }}</p>
            <ul class="actions">
                <li><a target="_blank" href="#testimonials" class="button next scrolly">Testimonials</a></li>
            </ul>

        </div>
    </div>
</section>

<section id="resume">
    <a target="_blank" href="/assets/dnaida-resume.pdf" class="button"><i class="fa fa-download"></i>  Download .pdf</a>
    <div class="inner">
        
        <header class="major">
            <h1>Work Experience</h1>
        </header>
        <dl>
            <dt>
                <h3>Project Manager Games</h3>
            <dd>
                <a target="_blank" href="https://www.redbullmediahouse.com/">
                    <span class="timeline-content-info-title">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Red Bull Media House
                    </span>
                </a>
            </dd>
            <dd>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                May 2018 - present
            </dd>

            </dt>
            <dd>
                <p>Getting things done to bring Red Bull action-sports mobile games to millions of players and make them profitable.</p>
                <ul>
                    <li>Planning and facilitating projects (from contract drafts to running games live operations)</li>
                    <li>User testing (questionnaires / personal interviews)</li>
                    <li>App Store Optimization (keywords research, writing short / long descriptions, A/B testing App Store assets)</li>
                    <li>Product metrics analytics</li>
                </ul>
                <p>Projects: Dirt Bike Unchained, Bike Unchained 2, Snowboarding the Next Phase</p>
            </dd>
            <dt>
                <hr>
                <h3>Community Management & Tech Support Lead</h3>
            <dd>
                <a target="_blank" href="https://company.plarium.com/">
                    <span class="timeline-content-info-title">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Plarium Global
                        
                    </span>
                </a>
            </dd>
            <dd>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Apr 2017 - May 2018
            </dd>
            </dt>
            <dd>
                <p>In charge of overall community management direction (SMM, push-notifications, marketing assets design, e-mail marketing, etc.) for Plarium Kyiv studio games.</p>
                <ul>
                    <li>Management of the technical support department</li>
                    <li>Integrated new help desk and knowledge base solution that helped the Community & Support team (2 people) effectively handle customer requests</li>
        
                </ul>
                <p>Projects: Fruitland, Undersea Match & Build, Rio: Match 3 Party</p>
            </dd>
            <dt>
                
            <hr>
            <h3>Community Manager</h3>
            <dd>
                <a target="_blank" href="http://www.gameloft.com/en/">
                    <span class="timeline-content-info-title">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Gameloft
                    </span>
                </a>
            </dd>
            <dd>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    May 2016 - Apr 2017
            </dd>
            <dd>
                <p>Game Community Management for popular free-to-play mobile games.</p>
                <ul>
                    <li>All things social media: planning, asset ideation, analysis</li>
                    <li>Performed personal interviews with top spenders / whales in Spider-Man Unlimited game to get qualitative feedback for feature improvements and development</li>
                    <li>Ensured growth and engagement on large (400k+ fans) Facebook / Twitter / YouTube groups</li>
                </ul>
                <p>Projects: Spider-Man Unlimited and World at Arms.</p>
            </dd>


<hr>