<section id="testimonials">
    <div class="inner">
        <header class="major">
            <h1>Testimonials</h1>
        </header>
        <div class="box ty-compact-list">
            <blockquote>Dmytro is a beast in terms of productivity, time management skills and
                self-motivation. His ability to dive into details and to learn new things is
                outstanding. I can recommend Dmytro as a reliable teammate and a strong
                professional. Had a great time working with him at Gameloft.</blockquote>
            <a target="_blank" href="https://www.linkedin.com/in/iegor-rybalko-6a525b93/">
                Iegor Rybalko - Project Manager / PMO Director
            </a>
        </div>
        <div class="box ty-compact-list">
            <blockquote>Dmytro is a great manager who can develop a workflow from the ground up and maintain team
                performance. He assists team members with an improvement of both professional skills and personal
                performance.</blockquote>
            <a target="_blank" href="https://www.linkedin.com/in/alexander-selegenenko-b908a8b9/">
                Alexander Selegenenko - Level Designer
            </a>
        </div>
        <div class="box ty-compact-list">
            <blockquote>Dmytro is a perfect team player with excellent communication skills. I've been working with him
                on the "Spider-Man Unlimited" project for Gameloft. I was always in awe of Dmytro’s ability to get
                people on the same page and learn new things.</blockquote>
            <a target="_blank" href="https://www.linkedin.com/in/andriy-baran-36a67b101/">
                Andriy Baran - QA Engineer
            </a>
        </div>
        <div class="box ty-compact-list">
            <blockquote>It's really great to be working with Dmytro. He is both very professional and friendly in every
                design project we've work on together. Would be happy to continue working with him!</blockquote>
            <a target="_blank" href="https://www.linkedin.com/in/idamendoza/">
                Ida Mendoza - App Marketing Artist / Designer
            </a>
        </div>
        <!-- Expander for more Recommendations -->
        <div>
            <div id="show-more" style="display:none; margin-top: 3rem;">
                <div class="box">
                    <blockquote>Dmytro was our first hire when we started out and it's with a tear in our eye that we're
                        saying goodbye to him. He's been a huge help in doing research, hiring customer reps and in
                        general managing the team.</blockquote>
                    <a target="_blank" href="http://www.univ.kiev.ua/en/">
                        Ricardo Pereira - CEO @ Dealboom.net
                    </a>
                </div>
            </div>
            <a target="_blank" id="expander" style="display:none; margin-top: 3rem;" class="show-more button">Show more</a>



        </div>
        <!-- End of expander for more Recommendations -->
    </div>
</section>

<hr>