<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
      </span>
      <header class="major">

        <h1>{{ page.title }}</h1>

      </header>
      <div class="content">

        <p style="text-transform: uppercase;">There's a lot I want to learn, and some stuff I want to share. Here's where
          I list both.</p>

      </div>
    </div>
  </section>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- Blog section -->
    <section id="one">
      <div class="inner" id="blog">
        <h2>Reviews and how-to's</h2>
        <!-- Content -->
        {% for post in site.posts %}
        {% if post.title != 404 %}
        <!-- Box container for an article-->
        <header>
          <div>
            <sub>
              {% if post.date %} {{ post.date | date: '%B %d, %Y'  }}{% endif %}
            </sub>
            <div class="highlight">
              <strong class="hvr-sweep-to-top">
                <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
              </strong>
            </div>


          </div>

        </header>
        {% endif%}
        {% endfor %}

        <hr>
        <div class="to-learn" id="toLearn">
           <h2>Learning in 2020</h2>
          <div class="table-wrapper">
            <table>
              <thead>
                <!-- table header info -->
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Tag</th>
                  <th>Evidence</th>
                  <th>Complete by</th>
                </tr>
              </thead>
              <tbody>
                <!-- first row -->
                <tr>
                  <td><i class="fa fa-square"></i></td>
                  <td>Deutschkurs B1.1</td>
                  <td>DE</td>
                  <td>
                    - 
                  </td>
                  <td>March, '20</td>
                </tr>

                <!-- second row -->
                <!-- <tr>
                  <td><i class="fa fa-square"></i></td>
                  <td>test test</td>
                  <td>CS</td>
                  <td>
                    - 
                  </td>
                  <td>March, '20</td>
                </tr> -->
              </tbody>
            </table>
          </div>


          <h2>Learning in 2019</h2>
          <p>My current focus is Product analytics, German and Computer Science fundamentials</p>
          <div class="table-wrapper">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Tag</th>
                    <th>Evidence</th>
                    <th>Complete by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><i class="fa fa-check-square"></i></td>
                    <td><strike>Deutsch A1</strike> </td>
                    <td>DE</td>
                    <td><i class="fa fa-certificate" aria-hidden="true">            
                      </i><a target="_blank" href="https://www.facebook.com/photo.php?fbid=2324065677632815&set=a.708178622554870&type=3&theater">
                        Credential
                      </a>  
                    </td>
                    <td>May, 2019</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check-square"></i></td>
                    <td> <a target="_blank" href="https://www.dmytronaida.com/2019/05/15/how-to-make-a-personal-website-with-jekyll.html">
                      <strike>Make personal website using Jekyll</strike>
                    </a>
                      
                    </td>
                    <td>WebDev</td>
                    <td><a target="_blank" href="https://www.dmytronaida.com/">www.dmytronaida.com</a></td>
                    <td>May, 2019</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check-square"></i></td>
                    <td><strike>
                        
                        <a target="_blank"
                        href="https://www.learnenough.com/javascript">Learn Enough JavaScript To Be Dangerous</a>
                      </strike>
                    </td>
                    <td> 
                      WebDev
                    </td>
                    <td>
                      <a target="_blank" href="https://www.dmytronaida.com/2019/07/18/learn-enough-javascript-to-be-dangerous.html">Course
                        review</a>
                      and
                      <a target="_blank" href="https://dmytronayda.github.io/gallery/">Project</a>
                    </td>
                    <td>Jul, 2019</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check-square"></i></td>
                    <td>
                      <strike>Deutsch A2</strike>
                    </td>
                    <td>DE</td>
                    <td><i class="fa fa-certificate" aria-hidden="true">            
                      </i><a target="_blank" href="https://www.facebook.com/photo.php?fbid=2533089790063735&set=a.461313213908080&type=3&theater">
                        Credential
                      </a>    
                      </td>
                    <td>Oct, 2019</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check-square"></i></td>
                    <td>
                      <a target="_blank" href="https://gopractice.io/" target="_blank" rel="noopener noreferrer">
                        <strike>Data-driven product management </strike>
                      </a>
                    </td>
                    <td>Product analytics</td>
                    <td><i class="fa fa-certificate" aria-hidden="true">            
                    </i><a target="_blank" href="https://gopractice.io/certificate/Rlr67Klo">
                      Credential
                    </a> and <a href="https://www.dmytronaida.com/2019/12/11/go-practice-course-review.html">Course review</a>
                  </td>
                    <td>Dec, 2019</td>
                </tbody>
              </table>
            </div>


        </div>

      </div>
    </section>


  </div>

  {% include footer.html %}

</body>

</html>