<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    <section id="banner" class="style2">
      <div class="inner">
          <span class="image">
              <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
          </span>
          <header class="major">

              <h1>{{ page.title }}</h1>

          </header>
          <div class="content">

              <p style="text-transform: uppercase;">There's a lot I want to learn, and some stuff I know already. Here's where I list both.</p>

          </div>
      </div>
  </section>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- Blog section -->
    <section id="one">
      <div class="inner" id="blog">
        <!-- Content -->
        {% for post in site.posts %}
        {% if post.title != 404 %}

        <!-- Box container for an article-->
        <header id="highlighted_link">
          <div class="row">

            <h3>
              <span>
                <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
              </span>
            </h3>
            <sub>
                {% if post.date %} {{ post.date | date: '%B %d, %Y'  }}{% endif %}
            </sub>
      
          </div>
        </header>
        {% endif%}
        {% endfor %}

      </div>
    </section>

  </div>

    {% include footer.html %}

  </body>

</html>
