<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div id="content">
                <p>
                    I like making things from scratch, sports, tech stuff and
                    <a href="{{ site.baseurl }}posts.html#toLearn">
                        keep on learning
                    </a>
                </p>
                <p>
                    Occasionally I write about the things that I've learned while working or studying. Check my latest posts below or jump to <a href="{{ site.baseurl }}posts.html">all posts</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>