<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">
                    I like making things from scratch, sports, tech stuff and
                    <a href="{{ site.baseurl }}posts.html#toLearn">
                        keep on learning
                    </a>
                </p>
            </div>
            <ul class="actions">
                <li><a href="{{ site.baseurl }}resume.html" class="button">Resume</a></li>
                <li><a href="{{ site.baseurl }}about.html" class="button">About</a></li>
                <li><a href="{{ site.baseurl }}posts.html" class="button">All Posts</a></li>
            </ul>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

    </div>

    {% include footer.html %}

</body>

</html>