<!DOCTYPE html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="style1">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                <p style="text-transform: uppercase;">{{ page.description }}</p>
                <ul class="actions">
                    <li><a href="#two" class="button next scrolly">Timeline</a></li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Top content and fun facts  -->
    <div id="main" class="alt">
        <section>
            <div class="inner">
                               <h2 id="content">Main</h2>
                <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac
                    adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis.
                    Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit
                    adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing
                    eget accumsan ac nunc adipiscing adipiscing.</p> 
            </div>

    
        </section>
            
    </div>



    <!-- Timeline -->
    <section id="two">
        <div class="inner">
            <h2 id="content">Timeline</h2>
            <!-- Main content  -->
            <div id="content">
                <section id="cd-timeline" class="cd-container">

                    <!-- First entry -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>Move to Austria 🇦🇹</h2>
                            <span class="image fit"><img src="assets/images/salzburg.jpg" alt="" /></span>

                            <div class="timeline-content-info">
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2018
                                </span>
                            </div>

                            <p>Got a job offer as Project Manager Games from 

                                <a target="_blank" href="https://www.redbullmediahouse.com/">Red Bull Media House</a>
                            and moved to beautiful city of Salzburg, Austria. Here I fell in love  with mountain biking, 
                            hiking and skiing. 
                            </p>

                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <!-- End of first entry -->

                    <!-- Second entry -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>First Job in Game Dev 👾</h2>
                            <span class="image fit"><img src="assets/images/gameloft.jpg" alt="" /></span>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Gameloft
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2016
                                </span>
                            </div>

                            <p>I was super excited to work for Gameloft as a Worldwide Community Manager for popular free-to-play games 
                                    <a target="_blank" href="https://www.gameloft.com/en/game/spiderman-unlimited">Spider-Man Unlimited</a> and
                                    <a target="_blank" href="https://www.gameloft.com/en/game/world-at-arms">World at Arms</a>.  
                            </p>

                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <!-- End of second entry -->

                    <!-- Third entry -->
                    <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                            </div> <!-- cd-timeline-img -->
    
                            <div class="cd-timeline-content">
    
                                <h2>Ukrainian war  🇺🇦</h2>
                                <span class="image fit"><img src="assets/images/ato.jpg" alt="" /></span>
                                <div class="timeline-content-info">
                                    <span class="timeline-content-info-title">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        Armed Forces 
                                    </span>
                                    <span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                         Mar 2015 - Mar 2016
                                    </span>
                                </div>
    
                                <p>After military institute I was obliged to service in Ukrainian Armed Forces. This was a period of armed conflict in Eastern Ukraine, so I spent most of my service time there.
                                   This was a tough year...  
                                </p>
    
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
    
                        <!-- End of third entry -->

                                        <!-- Third entry -->
                    <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                            </div> <!-- cd-timeline-img -->
    
                            <div class="cd-timeline-content">
    
                                <h2>FLEX Program 🇺🇸</h2>
                                <span class="image fit"><img src="assets/images/flex.jpg" alt="" /></span>
                                <div class="timeline-content-info">
                                    <span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                         Aug 2009 - May 2010
                                    </span>
                                </div>
    
                                <p>I spent a wonderful year as a highschool student in the small town of Itasca, TX, USA. During this time I've also explored most of the Texas state and visited Washington, DC.
                                </p>
    
                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->
    
                        <!-- End of third entry -->

                </section> <!-- cd-timeline -->
            </div>




        </div>
    </section>



    {% include footer.html %}

</body>

</html>