<!DOCTYPE html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                <p style="text-transform: uppercase;">{{ page.description }}</p>
                <ul class="actions">
                    <li><a href="#two" class="button next scrolly">Timeline</a></li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Top content and fun facts  -->
    <div id="main" class="alt">

        <section id="one">
            <div class="inner">
                <h2 id="content">Main</h2>
                <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac
                    adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis.
                    Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit
                    adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing
                    eget accumsan ac nunc adipiscing adipiscing.</p>

                <h2 id="content">Recommendations</h2>


                <div class="box">
                    <dl>
                        <dt>
                            <a href="http://www.univ.kiev.ua/en/">
                                Iegor Rybalko - Project Manager / PMO Director
                            </a>
                            <br>
                        <dd>
                            <div class="row 50% uniform">
                                <div class="2u desktop"><span class="image fit"><img
                                            src="assets/images/iegor-rybalko.jpeg" alt="" /></span></div>
                                <div class="4u mobile"><span class="image fit"><img
                                            src="assets/images/iegor-rybalko.jpeg" alt="" /></span></div>
                                <div class="8u">
                                    <p>Dmytro is a beast in terms of productivity, time management skills and
                                        self-motivation. His ability to dive into details and to learn new things is
                                        outstanding. I can recommend Dmytro as a reliable teammate and a strong
                                        professional. Had a great time working with him at Gameloft.</p>
                                </div>
                            </div>
                </div>
                <div class="box">
                    <dl>
                        <dt>
                            <a href="http://www.univ.kiev.ua/en/">
                                Alexander Selegenenko - Level Designer
                            </a>
                            <br>
                        <dd>
                            <div class="row 50% uniform">
                                <div class="2u desktop"><span class="image fit"><img
                                            src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                <div class="4u mobile"><span class="image fit"><img
                                            src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                <div class="8u">
                                    <p>Dmytro is a great manager who can develop a workflow from the ground up and
                                        maintain team performance. He assists team members with an improvement of both
                                        professional skills and personal performance. I was really happy to work with
                                        him.</p>
                                </div>
                            </div>
                </div>

                <!-- Expander for more Recommendations -->
                <!-- <div>
                    <a id="expander" class="button">Snow more <i class="fa fa-chevron-down"></i></a>
                    <div id="show-more" style="margin-top: 3rem;">
                        <div class="box">
                            <dl>
                                <dt>
                                    <a href="http://www.univ.kiev.ua/en/">
                                        Alexander Selegenenko - Level Designer
                                    </a>
                                    <br>
                                <dd>
                                    <div class="row 50% uniform">
                                        <div class="2u desktop"><span class="image fit"><img
                                                    src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                        <div class="4u mobile"><span class="image fit"><img
                                                    src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                        <div class="8u">
                                            <p>Dmytro is a great manager who can develop a workflow from the ground up
                                                and
                                                maintain team performance. He assists team members with an improvement
                                                of both
                                                professional skills and personal performance. I was really happy to work
                                                with
                                                him.</p>
                                        </div>
                                    </div>
                        </div>
                        <div class="box">
                                <dl>
                                    <dt>
                                        <a href="http://www.univ.kiev.ua/en/">
                                            Alexander Selegenenko - Level Designer
                                        </a>
                                        <br>
                                    <dd>
                                        <div class="row 50% uniform">
                                            <div class="2u desktop"><span class="image fit"><img
                                                        src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                            <div class="4u mobile"><span class="image fit"><img
                                                        src="assets/images/alex-selegenenko.jpeg" alt="" /></span></div>
                                            <div class="8u">
                                                <p>Dmytro is a great manager who can develop a workflow from the ground up
                                                    and
                                                    maintain team performance. He assists team members with an improvement
                                                    of both
                                                    professional skills and personal performance. I was really happy to work
                                                    with
                                                    him.</p>
                                            </div>
                                        </div>
                            </div>
                    </div>


                </div> -->

            </div>
    </div>

    </section>


    <!-- Timeline -->
    <section id="two">
        <div class="inner">
            <h2 id="content">Timeline</h2>
            <!-- Main content  -->
            <div id="content">
                <section id="cd-timeline" class="cd-container">

                    <!-- First entry -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>Moved to Austria</h2>
                            <span class="image fit"><img src="assets/images/salzburg.jpg" alt="" /></span>

                            <div class="timeline-content-info">
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2018
                                </span>
                            </div>

                            <p>Got a job offer from 

                                <a target="_blank" href="https://www.redbullmediahouse.com/">Red Bull Media House</a>
                            and moved to beautiful city of Salzburg, Austria. Here I fell in love  with mountain biking, 
                            hiking and skiing. 
                            </p>

                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <!-- End of first entry -->

                    <!-- Second entry -->
                    <div class="cd-timeline-block">
                        <div class="cd-timeline-img cd-movie">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2>First Job in Game Development</h2>
                            <span class="image fit"><img src="assets/images/gameloft.jpg" alt="" /></span>
                            <div class="timeline-content-info">
                                <span class="timeline-content-info-title">
                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                    Gameloft
                                </span>
                                <span class="timeline-content-info-date">
                                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    May 2016
                                </span>
                            </div>

                            <p>I was super excited to work for Gameloft as a Worldwide Community Manager for popular free-to-play games 
                                    <a target="_blank" href="https://www.gameloft.com/en/game/spiderman-unlimited">Spider-Man Unlimited</a> and
                                    <a target="_blank" href="https://www.gameloft.com/en/game/world-at-arms">World at Arms</a>.  
                            </p>

                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                    <!-- End of second entry -->





                </section> <!-- cd-timeline -->
            </div>




        </div>
    </section>



    {% include footer.html %}

</body>

</html>