<!DOCTYPE html>

{% include head.html %}

<body>

    {% include header.html %}

    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
            </span>
            <header class="major">

                <h1>{{ page.title }}</h1>

            </header>
            <div class="content">

                <p style="text-transform: uppercase;">{{ page.description }}</p>
                <ul class="actions">
                    <li><a href="#two" class="button next scrolly">Timeline</a></li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Top content and fun facts  -->
    <div id="main" class="alt">

        <section id="one">
            <div class="inner">
                <h2 id="content">Main</h2>
                <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac
                    adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis.
                    Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit
                    adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing
                    eget accumsan ac nunc adipiscing adipiscing.</p>

                <h2 id="content">References</h2>
                <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac
                        adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis.
                        Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit
                        adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing
                        eget accumsan ac nunc adipiscing adipiscing.</p>
            </div>

        </section>


        <!-- Timeline -->
        <section id="two">
            <div class="inner">
                <h2 id="content">Timeline</h2>
                <!-- Main content  -->
                <div id="content">
                    <section id="cd-timeline" class="cd-container">

                        <!-- First entry -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">

                                <h2>Project Manager Games</h2>
                                <span class="image fit"><img src="assets/images/pic03.jpg" alt="" /></span>

                                <div class="timeline-content-info">
                                    <span class="timeline-content-info-title">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        Red Bull
                                    </span>
                                    <span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        May 2018 - present
                                    </span>
                                </div>

                                <p>Managing mobile and console game development for Red Bull Media House. So far, I've
                                    worked on

                                    <a target="_blank" href="http://onelink.to/384fxs">Bike Unchained 2 (iOS &
                                        Android)</a>
                                    and
                                    <a target="_blank"
                                        href="https://www.nintendo.com/games/detail/snowboarding-the-next-phase-switch/">Snowboarding
                                        The Next Phase (Nintendo Switch)</a>
                                    games. More to come!
                                </p>

                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <!-- End of first entry -->

                        <!-- Second entry -->
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                            </div> <!-- cd-timeline-img -->

                            <div class="cd-timeline-content">

                                <h2>Games Community and Tech Support Team Lead</h2>
                                <span class="image fit"><img src="assets/images/pic03.jpg" alt="" /></span>
                                <div class="timeline-content-info">
                                    <span class="timeline-content-info-title">
                                        <i class="fa fa-certificate" aria-hidden="true"></i>
                                        Plarium Global
                                    </span>
                                    <span class="timeline-content-info-date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        Apr 2017 - Apr 2018
                                    </span>
                                </div>

                                <p>I was in charge of overall community management direction (SMM, push-notification
                                    campaigns, landing page design and development, etc.), management of the technical
                                    support department for the Kyiv studio games. I was concurrently working on several
                                    mobile game projects:

                                    <a target="_blank" href="http://onelink.to/384fxs">Undersea Match & Build</a>,
                                    <a target="_blank" href="http://onelink.to/384fxs">Rio: Match 3 Party</a>,
                                    and
                                    <a target="_blank"
                                        href="https://www.nintendo.com/games/detail/snowboarding-the-next-phase-switch/">Fruitland</a>
                                </p>

                            </div> <!-- cd-timeline-content -->
                        </div> <!-- cd-timeline-block -->

                        <!-- End of second entry -->





                    </section> <!-- cd-timeline -->
                </div>




            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>